In [1]:
# data manipulation
import pandas as pd
import numpy as np

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# data separation/transformation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# system manipulation
import sys
sys.path.append("./util_")
import acquire_
import prepare_

# other
import warnings
warnings.filterwarnings("ignore")

**Get data**

In [2]:
# load data from the original data file
wine = pd.read_csv("./origainal_data/00_wine_original_data.csv", index_col=0)
wine = wine.reset_index(drop=True) # reset the index (0-len of df)
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_clr
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
wine.shape

(6497, 13)

**Rename columns**

In [4]:
# remove spaces from the ends
# replace " " with _
# convert from lower case
new_cols = wine.columns.str.strip().str.replace(" ", "_").str.lower()

# rename the columns (run this lime one time)
wine[new_cols] = wine
wine = wine[new_cols]

In [5]:
# remove the duplocated rows
wine.drop_duplicates(keep="first")

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality,wine_clr
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

**Remove duplicates**

In [6]:
# remove the duplocated rows
wine = wine.drop_duplicates(keep="first")
wine.shape

(5320, 13)

**Create dummies**

In [7]:
# create dummie variables
dummies = pd.get_dummies(wine.wine_clr)

# clean dummie column names
dummies_col = dummies.columns.str.replace(" ", "_").str.lower()

dummies.head(2)

   red  white
0    1      0
1    1      0

In [8]:
# make a copy of my original data frame ti keep integrity of data
original_clean_wine = wine.copy()

# add dummies to my data frame
wine[dummies_col] = dummies
wine.head(2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality,wine_clr,red,white
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,1,0
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,1,0

**Split**

In [9]:
# split the data into training, validation and testing sets
train, validate, test = prepare_.split_data_(df=wine,
                    test_size=0.2, 
                     validate_size=0.2,
                    stratify_col= "quality",
                     random_state=95)
(train.shape, validate.shape, test.shape)

((3192, 15), (1064, 15), (1064, 15))

## Feature Scaling

In [10]:
# separate features to scale from the target
feature_columns = train.iloc[:,:-4].columns # get the columns

x_features_train = train[feature_columns]
x_features_validate = validate[feature_columns]
x_features_test = test[feature_columns]
x_features_train.head(3)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol
5734,5.9,0.26,0.24,2.4,0.046,27.0,132.0,0.99234,3.63,0.73,11.3
1725,7.4,0.39,0.23,7.0,0.033,29.0,126.0,0.99400,3.14,0.42,10.5
1400,7.9,0.69,0.21,2.1,0.080,33.0,141.0,0.99620,3.25,0.51,9.9

**Scale training data**

In [11]:
# build a scaling object
scaler = MinMaxScaler()

# Note that we only call .fit with the training data,
# but we use .transform to apply the scaling to all the data splits.
# y Target values: this is not being changed in any way(no predictions are being made)
x_features_train = scaler.fit_transform(X=x_features_train,)

In [12]:
x_features_train[1]

array([0.29752066, 0.248     , 0.18699187, 0.20645161, 0.04615385,
       0.18685121, 0.33287101, 0.29711082, 0.3255814 , 0.11363636,
       0.36231884])

**Scale validate and test data**

In [13]:
# transfrom the validate and test using the minMax object
x_features_validate = scaler.transform(X=x_features_validate)
x_features_test = scaler.transform(X=x_features_test)

In [14]:
x_features_validate[1]

array([0.25619835, 0.24      , 0.30894309, 0.40322581, 0.21978022,
       0.08304498, 0.24410541, 0.4661492 , 0.23255814, 0.14772727,
       0.17391304])

**Convert scaled features to dataframe**

In [15]:
# New _ariable mames to add to data
new_scale_col = []
for i in feature_columns:
    new_scale_col.append(f"{i}_scaled")

new_scale_col

['fixed_acidity_scaled',
 'volatile_acidity_scaled',
 'citric_acid_scaled',
 'residual_sugar_scaled',
 'chlorides_scaled',
 'free_sulfur_dioxide_scaled',
 'total_sulfur_dioxide_scaled',
 'density_scaled',
 'ph_scaled',
 'sulphates_scaled',
 'alcohol_scaled']

In [16]:
# convert to dataframe
x_train_scaled = pd.DataFrame(x_features_train, columns=new_scale_col)
x_validate_scaled = pd.DataFrame(x_features_validate, columns=new_scale_col)
x_test_scaled = pd.DataFrame(x_features_test, columns=new_scale_col)
x_train_scaled.head()

,fixed_acidity_scaled,volatile_acidity_scaled,citric_acid_scaled,residual_sugar_scaled,chlorides_scaled,free_sulfur_dioxide_scaled,total_sulfur_dioxide_scaled,density_scaled,ph_scaled,sulphates_scaled,alcohol_scaled
0,0.173554,0.144,0.195122,0.058065,0.074725,0.173010,0.349515,0.225528,0.705426,0.289773,0.478261
1,0.297521,0.248,0.186992,0.206452,0.046154,0.186851,0.332871,0.297111,0.325581,0.113636,0.362319
2,0.338843,0.488,0.170732,0.048387,0.149451,0.214533,0.374480,0.391979,0.410853,0.164773,0.275362
3,0.165289,0.168,0.040650,0.006452,0.057143,0.062284,0.066574,0.228116,0.496124,0.073864,0.173913
4,0.181818,0.080,0.219512,0.029032,0.169231,0.262976,0.380028,0.223803,0.596899,0.227273,0.405797

**Add all the columns back**

In [17]:
# Reset the index before adding the two data frames together
unscaled_columns = train.iloc[:,-4:].reset_index(drop=True)
x_train_scaled.reset_index(drop=True, inplace=True)

# concate the the original columns to this data set
train = pd.concat([x_train_scaled, unscaled_columns], axis=1, ignore_index=False)
train.head()

,fixed_acidity_scaled,volatile_acidity_scaled,citric_acid_scaled,residual_sugar_scaled,chlorides_scaled,free_sulfur_dioxide_scaled,total_sulfur_dioxide_scaled,density_scaled,ph_scaled,sulphates_scaled,alcohol_scaled,quality,wine_clr,red,white
0,0.173554,0.144,0.195122,0.058065,0.074725,0.173010,0.349515,0.225528,0.705426,0.289773,0.478261,5,white,0,1
1,0.297521,0.248,0.186992,0.206452,0.046154,0.186851,0.332871,0.297111,0.325581,0.113636,0.362319,5,white,0,1
2,0.338843,0.488,0.170732,0.048387,0.149451,0.214533,0.374480,0.391979,0.410853,0.164773,0.275362,5,red,1,0
3,0.165289,0.168,0.040650,0.006452,0.057143,0.062284,0.066574,0.228116,0.496124,0.073864,0.173913,5,white,0,1
4,0.181818,0.080,0.219512,0.029032,0.169231,0.262976,0.380028,0.223803,0.596899,0.227273,0.405797,6,white,0,1

**repeat for validate and test**

In [18]:
# Reset the index for validate
unscaled_columns_validate = validate.iloc[:,-4:].reset_index(drop=True)
x_validate_scaled.reset_index(drop=True, inplace=True)

# test
unscaled_columns_test = test.iloc[:,-4:].reset_index(drop=True)
x_test_scaled.reset_index(drop=True, inplace=True)

# concate the the original columns to this data set
validate = pd.concat([x_validate_scaled, unscaled_columns_validate], axis=1, ignore_index=False)
test = pd.concat([x_test_scaled, unscaled_columns_test], axis=1, ignore_index=False)

In [19]:
(train.shape, validate.shape, test.shape)

((3192, 15), (1064, 15), (1064, 15))

**Save split scaled data**

In [20]:
# save created data frames into csv
prepare_.save_split_data_(original_df=original_clean_wine,
                          encoded_scaled_df=wine, 
                          train=train, 
                          validate=validate, 
                          test=test,
                         test_size=0.2,
                         stratify_col= "quality",
                         random_state=95)

'SIX data sets saved as .csv'

**Actions Taken**

- Rename columns
- Remove 1177 duplicated rows
- Create dummie varaibles (wine_clr)
- Split data into train, validate, and test. (60/20/20 split)
- scale all columns except the target (quality) and the encoded (wine_clr)
- Rename the scaled columns
- Save into csv files